
* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}
ul {
    list-style: none;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

