<section class="home-container">
    <div class="my-info">
        <h2>
            Hi, I'm Tal.
        </h2>
        <h1>Full-Stack Web Developer. </h1>
        <p>
            Some Text About me
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloribus optio adipisci et deleniti, quibusdam
            perferendis ea eligendi quia, sunt quas. Culpa sed blanditiis ullam amet excepturi error explicabo commodi?

        </p>

        <a routerLink="/about">Learn More</a>

    </div>
    <div class="my-image">

    </div>
</section>